.banner {
  background-size: cover;
  background-position: center;
  opacity: 100%;
  padding: 200px 0;
  height: 150px;
}

.container {
  width: 900px;
  margin: auto;
}

.banner h1 {
  color: white;
  font-size: 50px;
}

.banner p {
  color: white;
  opacity: 1;
  font-size: 20px;
}

.btn-primary {
  display: inline-block;
  background-color: #25222b;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.btn-primary:hover {
  background-color: #ecb055;
  color:white;
}
